section#topicos__visitados{
    background: var(--azul-degrade);
    padding: 2em 0em;
}

section#topicos__visitados h2.topicos__title{
   color: var(--branco);
   font-size: 16px;
   font-weight: 300;
   text-align: center;
   padding-bottom: 1em;
   text-transform: uppercase;
}

section#topicos__visitados .topico__lista li.topico__lista-item{
    margin: 2em 0em 1em 0.5em;
}

section#topicos__visitados .topico__lista {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;
}

section#topicos__visitados .topico__lista li.topico__lista-item a.topico__lista-link{
    text-decoration: none;
    color: var(--branco);
    background: var(--laranja);
    padding: 1em;
    font-weight: 700;
    font-size: 14px;
}

@media screen and (min-width:1728px) {
    section#topicos__visitados h2.topicos__title{
        font-size: 32px;
     }
    section#topicos__visitados .topicos{
        padding: 1em 32vw;
    }

    section#topicos__visitados .topico__lista li.topico__lista-item{
        margin: 2.5em 0em 1.5em 0em;
    }

    section#topicos__visitados .topico__lista {
        justify-content: space-between;
    }

    section#topicos__visitados .topico__lista li.topico__lista-item a.topico__lista-link{
        padding: 1em;
        font-size: 24px;
    }

}